
<%= render "header" %>
<div class="">
  <div class="flex flex-row">
    <section class="filter flex flex-col mr-4 w-1/3">
      <%= render "search_form", params: params %>
    </section>

    <section class="search-results flex-1">
      <h3 class="text-md font-bold mb-2">
        Total: <%= @tasks&.total_count || 0 %> tasks
      </h3>
      <div id="tasks" class="">
        <% @tasks.each do |task| %>
          <%= render "task_item", task: task %>
        <% end %>
      </div>

      <div class="mx-auto text-center my-4 float-right">
        <%= will_paginate @tasks %>
      </div>
    </section>
  </div>
</div>
