<!DOCTYPE html>
<html>
  <head>
    <title>Trending Arbitrage Trading Program</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag '/trading.png' %>
  </head>

  <body class="text-gray-600 bg-gray-100">
    <main class="container mx-auto mt-28 px-5 flex flex-col p-8">
      <%= yield %>
    </main>

  </body>
</html>
